@page
@using DataLibrary.Models;
@model RestaurantBooking.Pages.Admin.IndexModel
@{
    Layout = "~/Pages/Shared/LayoutAdmin.cshtml";
}

<main id="main" style="margin-top: 3em;">
    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
        <div class="container-fluid" data-aos="fade-up">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 col-12">
                    <div class="widget-card widget-bg1" style="background: #f0f8ff00;border: 2px solid #d2ba85;">
                        <div class="wc-item" style=" padding:10px;">
                            <h4 class="wc-title">
                                Total Frofit In Day
                            </h4>
                            <span class="wc-des">
                                For All table
                            </span>
                            <span class="wc-stats">
                                <span class="counter" data-target="@Model.TotalPrice">0</span> VNĐ
                            </span>
                            <div class="progress wc-progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 col-12">
                    <div class="widget-card widget-bg2" style="background: #f0f8ff00;border: 2px solid #d2ba85;">
                        <div class="wc-item" style=" padding:10px;">
                            <h4 class="wc-title">
                                Booking Today
                            </h4>
                            <span class="wc-des">
                                Customer booked
                            </span>
                            <span class="wc-stats counter" data-target="@Model.TotalBooking">0</span>
                            <div class="progress wc-progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 col-12">
                    <div class="widget-card widget-bg3" style="background: #f0f8ff00;border: 2px solid #d2ba85;">
                        <div class="wc-item" style=" padding:10px;">
                            <h4 class="wc-title">
                                New Orders
                            </h4>
                            <span class="wc-des">
                                Fresh Order Amount
                            </span>
                            <span class="wc-stats counter" data-target="@Model.TotalOrder">0</span>
                            <div class="progress wc-progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="100" style="margin-top:20px;">
                <form style="margin-left:10px;">
                    <input type="date" />
                    <input type="date" />
                    <button type="submit">Search</button>
                </form>
                <div class="col-lg-12 m-b30" style="margin-top:10px;">
                    <div class="widget-box">
                        <div class="wc-title">
                            <h4>Statistical</h4>
                        </div>
                        <div class="widget-inner">
                            <canvas id="chart" width="100" height="20"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 0; margin-top: 2rem;">
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6">
                    <div class="widget-card widget-bg3" style="height: 35rem;background: #f0f8ff00;border: 2px solid #d2ba85; overflow: auto;">
                        <section style="padding: 0;">
                            <div class="container" data-aos="fade-up">
                                <div class="row">
                                    <div class="section-title col-lg-8 col-md-6" style="padding: 0;">
                                        <p>New Booking Today</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        @if (Model.book_infor != null)
                        {
                            @foreach (var book in Model.book_infor)
                            {
                                <div class="col-lg-12 menu-item">
                                    <img src="" class="menu-img" alt="">
                                    <div class="menu-content">
                                        <a href="#">@book.FullName</a><span> @book.StartDate</span>
                                    </div>
                                    <div class="menu-ingredients">
                                        @book.Email - @book.Phone
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6">
                    <div class="widget-card widget-bg3" style="height: 35rem;background: #f0f8ff00;border: 2px solid #d2ba85; overflow: auto;">
                        <section style="padding: 0;">
                            <div class="container" data-aos="fade-up">
                                <div class="row">
                                    <div class="section-title col-lg-8 col-md-6" style="padding: 0;">
                                        <p>Order Trend</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        @if (Model.MenuValueMap != null)
                        {
                            @foreach (KeyValuePair<Menu, int> data in Model.MenuValueMap)
                            {
                                <div class="col-lg-12 menu-item">
                                    <img src="@data.Key.Img" class="menu-img" alt="">
                                    <div class="menu-content">
                                        <a href="#">@data.Key.Name</a><span> x @data.Value</span>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Menu Section -->

</main><!-- End #main -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/assets/js/jquery.min.js"></script>
<script>
    (function ($) {
        var dataMap = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.dateValueMap));
        var dateLabels = Object.keys(dataMap);
        var profitData = Object.values(dataMap);

        'use strict';

        var AdminBuilder = function () {
            var chart;

            var displayGraph = function () {
                if (!document.getElementById('chart')) { return; }

                Chart.defaults.color = '#999';

                var ctx = document.getElementById('chart').getContext('2d');

                if (chart) {
                    chart.destroy();
                }

                chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: dateLabels,
                        datasets: [{
                            label: "Profit",
                            backgroundColor: 'rgba(0,0,0,0.05)',
                            borderColor: '#4c1864',
                            borderWidth: 3,
                            data: profitData,
                            pointRadius: 4,
                            pointHoverRadius: 4,
                            pointHitRadius: 10,
                            pointBackgroundColor: "#fff",
                            pointHoverBackgroundColor: "#fff",
                            pointBorderWidth: 3,
                            tension: 0.3
                        }]
                    },
                    options: {
                        responsive: true,
                        animation: false,
                        layout: { padding: 0 },
                        plugins: {
                            legend: { display: false },
                            tooltip: {
                                backgroundColor: '#333',
                                titleFont: { size: 12 },
                                titleColor: '#fff',
                                bodyColor: '#fff',
                                bodyFont: { size: 12 },
                                displayColors: false,
                                padding: 10,
                                intersect: false
                            }
                        },
                        scales: {
                            y: {
                                grid: {
                                    borderDash: [6, 6],
                                    color: "#ebebeb",
                                    lineWidth: 1,
                                }
                            },
                            x: {
                                grid: { display: false }
                            }
                        }
                    }
                });
            }

            return {
                initialHelper: function () {
                    displayGraph();

                    $(window).on('resize', function () {
                        displayGraph();
                    });
                }
            }

        }(jQuery);

        jQuery(document).on('ready', function () { AdminBuilder.initialHelper(); });
    })(jQuery);
</script>

