@page
@model RestaurantBooking.Pages.BookingInformation.IndexModel
@{
    ViewData["Title"] = "Schedule";
    Layout = "~/Pages/Shared/_Header.cshtml";
}
@{
}
<style>
    .page-link {
        color: #fff;
        background-color: #cda45e00;
    }

    .page-link:hover {
        color: #cda45e;
        background-color: #fff;
    }

    .active-page {
        color: #cda45e;
        background-color: #fff;
    }
    .close-btn {
        background-color: #ffffff00;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        display: inline-block;
        padding: 12px 30px;
        border-radius: 10px;
        transition: 0.3s;
        line-height: 1;
        color: white;
        border: 2px solid #cda45e !important;
        transition: 0.3s;
        font-style: normal !important;
    }

    .close-btn:hover {
        color: white !important;
        background-color: #cda45e !important;
    }
    .select-box{
        margin-left: 1rem;
        background: #3b414600;
        color: white;
        border: 2px solid #cda45e;
        border-radius: 10px;
        width: 20rem;
        text-align: center;
    }
</style>
<main id="main" style="margin-top: 3em;">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="section-title col-lg-8 col-md-6">
                    <p>Reservation Information</p>
                    <p class="text-light">@(Model.All_booking != null ? Model.All_booking.Count : 0) Reservation</p>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
        <div class="container-fluid" data-aos="fade-up">
            <form method="get">
                <input type="hidden" name="page_number" value="1"/>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3" style="display: flex;">
                        <input type="date" value="@Model.date_filter" name="dateFilter" class="form-control" />
                        <button class="close-btn" style="border-radius: 10px; margin-left: 1rem;">Filter</button>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5" style="display: flex;">
                        <input type="text" value="@Model.key" name="keywords" class="form-control" id="name" placeholder="Enter Keywords" data-rule="minlen:4">
                        <select name="searchBy" class="form-control select-box" style="margin-left: 1rem;">
                            <option value="name" selected="@(Model.search_by == "name")">By Name</option>
                            <option value="email" selected="@(Model.search_by == "email")">By Email</option>
                            <option value="phone" selected="@(Model.search_by == "phone")">By Phone</option>
                        </select>
                        <button class="close-btn" style="border-radius: 10px; margin-left: 1rem;">Search</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </form>
            <div id="menu-container" class="row menu-container" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-12 menu-item meal-item filter-starters">
                    <table class="table text-light">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" class="text-center">
                                    Full Name
                                    <span class="sort" data-sort="name">▲</span>
                                </th>
                                <th scope="col" class="text-center">
                                    Email
                                    <span class="sort" data-sort="email">▲</span>
                                </th>
                                <th scope="col" class="text-center">
                                    Phone
                                    <span class="sort" data-sort="phone">▲</span>
                                </th>
                                <th scope="col" class="text-center">
                                    Date Time
                                    <span class="sort" data-sort="date">▲</span>
                                </th>
                                <th scope="col" class="text-center">
                                    Table
                                    <span class="sort" data-sort="table">▲</span>
                                </th>
                                <th scope="col" class="text-center">
                                    The Number of Booking
                                    <span class="sort" data-sort="NumberOfBooking">▲</span>
                                </th>
                                <th scope="col" class="text-center">
                                    Status
                                    <span class="sort" data-sort="status">▲</span>
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            @if(Model.book_infor != null)
                            {
                                foreach(var book in Model.book_infor)
                                {
                                    <tr>
                                        <td class="text-center">@book.Id</td>
                                        <td class="text-center">@book.FullName</td>
                                        <td class="text-center">@book.Email</td>
                                        <td class="text-center">@book.Phone</td>
                                        <td class="text-center">@book.StartDate</td>
                                        <td class="text-center">@book.Table.Id</td>
                                        <td class="text-center">@book.NumberOfBooking</td>
                                        <td class="text-center">@book.Status</td>
                                        @if(book.Status == "booked")
                                        {
                                            <td>
                                                <form method="post" asp-page="Index">
                                                    <input type="hidden" name="bookID" value="@book.Id"/>
                                                    <input type="hidden" name="tableID" value="@book.TableId" />
                                                    <button class="btn btn-outline-secondary" style="color: white;">
                                                        Order
                                                    </button>
                                                </form>
                                            </td>
                                        }
                                        else if (book.Status == "ordering")
                                        {
                                            <td>
                                                <a class="btn btn-outline-success" href="/Staff/OrderMeal/Details?id=@book.TableId" style="color: white;">
                                                    View Order
                                                </a>
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination"> 
                            @for (int i = Model.page_previous; i <= Model.max_page; i++){
                                <li class="page-item">
                                    <a href="/BookingInformation?page_number=@i&dateFilter=@Model.date_filter&keywords=@Model.key&searchBy=@Model.search_by" class="page-link @(Model.page_current == i ? "active-page" : "")">@i</a>
                                </li>
                            }
                        </ul>
                        <div class="validate" style="display: block; color: yellow;">@(TempData["Update_Booking_Failed"] != null ? TempData["Update_Booking_Failed"] : "")</div>
                    </nav>
                </div>

            </div>

        </div>

        </section><!-- End Menu Section -->

</main><!-- End #main -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const getCellValue = (row, index) => row.children[index].innerText || row.children[index].textContent;

        const comparer = (index, asc) => (a, b) => ((v1, v2) =>
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, index), getCellValue(asc ? b : a, index));

        document.querySelectorAll('th .sort').forEach(function (header) {
            header.addEventListener('click', function () {
                const table = header.closest('table');
                const tbody = table.querySelector('tbody');
                Array.from(tbody.querySelectorAll('tr'))
                    .sort(comparer(Array.from(header.parentNode.parentNode.children).indexOf(header.parentNode), header.textContent === '▲'))
                    .forEach(tr => tbody.appendChild(tr));

                header.textContent = header.textContent === '▲' ? '▼' : '▲';
            });
        });
    });

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    $('#btnClick').click(function (e) {
        var name = document.getElementById('search-by-name').value;
        if (name == "") { location.reload(); }
        e.preventDefault();
        $.ajax({
            url: '@Url.Action("Search", "Schedule")',
            type: 'get',
            data: { name: name },
            success: function (data) {
                loadData(data);
            },
            error: function (errMsg) {
            }
        });
    });
    function isBase64(str) {
        try {
            return btoa(atob(str)) === str;
        } catch (err) {
            return false;
        }
    }

    function loadData(data) {
        $(".table tbody tr").remove();
        $.each(data, function (i, item) {
            var stt = i + 1;

            var prepay = item.prepay ? item.prepay : false;
            var status = item.status ? item.status : false;
            var statusText = "pending";

            if (prepay === true && status === false) statusText = "ordered";
            if (prepay === true && status === true) statusText = "confirmed";

            var rows = "<tr>"
                + "<th scope='row'>" + stt + "</th>"
                + "<td>" + (item.name || '') + "</td>"
                + "<td>" + (item.email || '') + "</td>"
                + "<td>" + (item.dateOrder || '') + " " + (item.TimeOrder || '') + "</td>"
                + "<td>" + (item.tableName || '') + "</td>"
                + "<td>" + (item.message || '') + "</td>"
                + "<td>" + (prepay === true ? '' : 'payed') + "</td>"
                + "<td>" + statusText + "</td>";

            if (statusText == "confirmed") {
                var URL = "/Schedule/Update/" + item.id;
                var add_button = "<td><form action='" + URL + "' method='post'><button class='btn btn-warning' style='color: white;'> Ordered</button></form></td>";
                rows += add_button;
            }

            rows += "</tr>";
            $(".table tbody").append(rows);
        });
    }
</script>
